{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "@typescript-eslint/require-await": "off", // Async clearly indicates that it is an asynchronous function
    "@typescript-eslint/prefer-regexp-exec": "off", // There is no need to force the use of this rule
    "@typescript-eslint/no-explicit-any": "off", // Any is necessary
    "@typescript-eslint/explicit-function-return-type": "off", // Type inference
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/interface-name-prefix": "off"
  }
}
